* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    font-family: palatino;
    color: #444444;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#home-container {
    grid-column: 1 / 4;
}


#new-org-button {
    position: relative;
    top: 140px;
    left: 590px;
    height: 50px;
    width: 300px;
    background-color: #CC6666;
    color: white;
    font: 20px bold;
    border-radius: 10px;
    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;*/
}

#home-posts-container {
    position: relative;
    top: 160px;
    left: 430px;
    width: 1000px;
}

.home-post-container {
    margin-bottom: 40px;
    width: 600px;
    border: 1px solid #444444;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    overflow: hidden;
}

.home-posts-image {
    width: 100px;
    height: 100px;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.home-post-text {
    float: left;
    display: inline-block;
    margin-left: 20px;
    width: 400px;
}

.home-post-description {
    font-weight: bold;
    margin-bottom: 10px;
}

#more-info-container {
    position: relative;
    top: 100px;
    left: 340px;
    width: 800px;
    border: 1px solid #444444;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    overflow: hidden;
}

#more-info-image {
    width: 200px;
    height: 200px;
    float: left;
    display: inline-block;
}

#more-text {
    float: left;
    display: inline-block;
    margin-left: 60px;
    width: 400px;
}

#more-info-description {
    font-weight: bold;
    margin-bottom: 10px;
}

#hide-more-info {
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

#reg-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#reg-header {
    margin-bottom: 20px;
    margin-top: 25px;
}

#reg-text {
    margin-bottom: 15px;
}

.reg-input {
    margin-top: 20px;
    padding: 12px 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.reg-button {
    height: 30px;
    width: 120px;
    background-color: #CC6666;
    color: white;
    font: 20px bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 85px;
}

#login-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#login-header {
    margin-top: 30px;
}

#profile-container {
    grid-column: 1 / 4;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #CC6666;
    padding-left: 400px;
}

#logo {
    height: 100px;
    width: 180px;
    float: left;
}

#nav-heading {
    color: white;
    margin-left: 110px;
    font-size: 40px;
    float: left;
    padding-top: 30px;
}

li a {
    display: block;
    color: white;
    padding-top: 40px;
    padding-bottom: 35px;
    text-decoration: none;
    margin-left: 850px;
}

ul a:hover {
    cursor: pointer;
}

#profile-content {
    margin-left: 250px;
    margin-top: 50px;
}

#organisation-name {
    font-size: 40px;
    margin-bottom: 50px;
}

#more-info-text {
    font-size: 20px;
    margin-top: 40px;
    color: #CC6666;
}

.profile-tag {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
}

.edit-button {
    height: 30px;
    width: 80px;
    background-color: #CC6666;
    color: white;
    font: 15px bold;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.profile-edit {
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

#big-profile-pic {
    width: 250px;
    height: 300px;
    display: inline-block;
    float: left;
    object-fit: cover;
    margin-top: 50px;
}

#profile-pic-upload-container {
    background-color: white;
    width: 300px;
    height: 130px;
    border-style: solid;
    border-color: #444444;
    border-radius: 10px;
    margin-left: 300px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 50px;
}

#pic-file-upload {
    position: relative;
    overflow: hidden;
    background-color: #CC6666;
    color: white;
    width: 110px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#pic-upload-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

h3 {
    margin-bottom: 14px;
}

#hide-upload {
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 250px;
    cursor: pointer;
}

#clear {
    clear: both;
}

#post-text {
    font-size: 20px;
    margin-top: 80px;
    margin-left: 250px;
    color: #CC6666;
}

#post-container {
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 60px;
}

#description-input {
    padding: 12px 20px;
    width: 400px;
    border: 2px solid #444444;
    border-radius: 10px;
}

#message-textarea {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #444444;
    border: 5px solid transparent;
    margin-top: 30px;
}

#post-button {
    height: 30px;
    width: 120px;
    background-color: #CC6666;
    color: white;
    font: 20px bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}


#thanks-for-post-text {
    font-size: 20px;
    margin-top: 80px;
    margin-left: 250px;
    color: #CC6666;
}

#post-made {
    margin-left: 300px;
    margin-top: 40px;
    width: 600px;
    border: 1px solid #444444;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    overflow: hidden;
}

#small-profile-pic {
    width: 100px;
    height: 100px;
    float: left;
    display: inline-block;
}

#post-made-text {
    float: left;
    display: inline-block;
    margin-left: 20px;
    width: 400px;
}

#post-description {
    font-weight: bold;
    margin-bottom: 10px;
}
